In [13]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
import sys

CURPATH = os.getcwd()
sys.path.append(os.path.join(CURPATH, ".."))

import df_file_interchange as fi

In [14]:
test_indices = fi.fi_generic.generate_example_indices()

In [15]:
dfs = dfs = fi.fi_generic.generate_dfs_from_indices(test_indices)

In [16]:
df = dfs["fi_index_1"]

In [17]:
df

,a,b,c,1,2,3,2024-01-01 00:00:00,2024-01-02 10:11:12,an arbitrary string
a,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
b,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
c,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
1,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
2,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
3,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
2024-01-01 00:00:00,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
2024-01-02 10:11:12,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
an arbitrary string,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520

In [18]:
df.to_parquet(Path("test_df.parq"))

ArrowTypeError: ("Expected bytes, got a 'int' object", 'Conversion failed for column None with type object')

In [30]:
df_no_indexes = df.copy()
assert isinstance(df_no_indexes, pd.DataFrame)
df_no_indexes = df_no_indexes.reset_index(drop=True)
df_no_indexes.columns = range(df.shape[1])
df_no_indexes

,0,1,2,3,4,5,6,7,8
0,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
1,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
2,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
3,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
4,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
5,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
6,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
7,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
8,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520

In [31]:
df_no_indexes.to_parquet(Path("test_df_no_index.parq"))

In [32]:
df_no_indexes

,0,1,2,3,4,5,6,7,8
0,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
1,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
2,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
3,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
4,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
5,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
6,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
7,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
8,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520

In [35]:
df_no_indexes.columns = df.columns
df_no_indexes.index = df.index

In [36]:
df_no_indexes

,a,b,c,1,2,3,2024-01-01 00:00:00,2024-01-02 10:11:12,an arbitrary string
a,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
b,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
c,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
1,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
2,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
3,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
2024-01-01 00:00:00,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
2024-01-02 10:11:12,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
an arbitrary string,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520

In [37]:
df

,a,b,c,1,2,3,2024-01-01 00:00:00,2024-01-02 10:11:12,an arbitrary string
a,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
b,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
c,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
1,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
2,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
3,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
2024-01-01 00:00:00,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
2024-01-02 10:11:12,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
an arbitrary string,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520

In [38]:
df.to_parquet("test_2.parq", index=False)

In [39]:
df_reload_2 = pd.read_parquet("test_2.parq")

In [40]:
df_reload_2

,a,b,c,1,2,3,2024-01-01 00:00:00,2024-01-02 10:11:12,an arbitrary string
0,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
1,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
2,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
3,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
4,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
5,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
6,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
7,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
8,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520

In [41]:
df_reload_2.index = df.index
df_reload_2.columns = df.columns
df_reload_2

,a,b,c,1,2,3,2024-01-01 00:00:00,2024-01-02 10:11:12,an arbitrary string
a,-1.468202,1.064771,-0.244775,0.264413,0.506342,0.572507,1.622029,-0.474477,0.029822
b,1.361099,0.630565,0.335163,1.207835,2.661558,-0.078533,-1.439999,0.424203,0.591760
c,-1.445500,-0.786937,-0.395078,0.786909,0.155857,0.273765,-1.168065,0.754548,0.497059
1,-0.784339,-0.088601,1.418845,0.837947,1.917766,-1.551908,0.098974,0.855044,1.116779
2,-0.037662,1.394411,-0.756494,0.938864,1.423932,-0.117998,-1.441994,1.389755,0.917634
3,-0.660227,0.188464,0.363081,0.037117,0.088241,-1.571073,1.972706,0.887652,-1.465489
2024-01-01 00:00:00,-1.004463,0.391765,-0.802072,-0.240490,-0.469804,-0.290022,-0.100836,0.136918,-0.147871
2024-01-02 10:11:12,-0.353174,-2.195826,1.303174,1.097544,0.778724,-0.240403,0.366561,0.737542,-0.106037
an arbitrary string,-0.829921,0.823703,-0.791855,-0.261859,-1.455608,1.308984,-0.318103,-0.198560,-0.303520